<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Abhishek Web Series</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AbhiWebSeries.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">youTube Channel</a>
      </li>
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown link-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong>Welcome to Abhishek's Website
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <div class="container">
<!--      <form action='/analyze' method='get'>-->
        <form action='/analyze' method='post'>
          {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter Data</label>
    <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

    <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" name='punc' id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Check punc</label>
</div>
      <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" name='upper' id="customSwitch2">
  <label class="custom-control-label" for="customSwitch2">Captializ</label>
</div>
      <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" name='newLine' id="customSwitch3">
  <label class="custom-control-label" for="customSwitch3">New Line Remover</label>
</div>

      <div>
          <button type="submit" class="btn btn-dark mt-2">Analyse Text</button>
      </div>
        </form>
  </div>

  </body>
</html>